@use 'variables' as *;

$background-color: hsl(0, 0%, 9.41%);
$border-radius: 6px;
$layer-1-color: hsl(0, 0%, 14%);
$layer-2-color: hsl(0, 0%, 18%);

$border: 2px solid hsl(0, 0%, 24%);
$border-layer-2: 2px solid hsl(0, 0%, 28%);
$transition: 0.1s ease-in-out;

$floating-element-height: 36px;


html,
body,
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: white;

  --smart-fence-color: "red"
}

#math-inputs-list {
  min-width: 25%;
  height: 100%;
  padding: 0.5rem;
  border-right: $border-layer-2;
  resize: horizontal;
  display: flex;
  flex-direction: column;
}

#add-new-math-input,
.math-field-control {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}


.math-field-control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.math-field-control-close {
  width: 28px;
}

object {
  pointer-events: none;
}

.math-input-container {
  width: 100%;
  height: 5%;
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: $border-layer-2;
}

.math-field-controls {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#add-new-math-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 24;
  transition: 0.05s ease-in;
}

#add-new-math-input:hover {
  transform: scale(1.2);
}

math-field {
  border: none;
  cursor: text;
  width: 100%;
  font-size: 3.5vw;
  font-weight: 400;
  display: flex;
  align-items: center;
  z-index: 999;
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

math-field::part(menu-toggle) {
  display: none;
}

math-field::part(menu) {
  display: none;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#render-area {
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: grab;
}

#render-area:active {
  cursor: grabbing;
}

#controls {
  position: absolute;
  top: 15px;
  right: 15px;
  height: $floating-element-height;
  background-color: $layer-1-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border: $border;
  aspect-ratio: 1;
}

.control-button {
  width: 80%;
  aspect-ratio: 1;
  background-color: $layer-1-color;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.control-button:hover {
  transform: scale(1.1);
}

.reduce-button-svg {
  background-color: $layer-1-color;
}

.dropdown-open {
  transform: scale(1.1);
}

.dropdown-open object {
  transform: rotate(180deg);
}

#renderer-select {
  position: absolute;
  background-color: $layer-1-color;
  border-radius: $border-radius;
  padding: 10px;
  top: 15px;
  left: 25%;
  min-height: $floating-element-height;
  transform: translate(25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border: $border;
}

#current-renderer {
  padding: 5px;
  min-width: 100px;
  background-color: inherit;
}

#render-select-dropdown-options {
  background-color: $layer-1-color;
}

.renderer-selection-option {
  box-sizing:border-box;
  background-color: $layer-1-color;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 10px 15px 10px 15px;

  margin-left: 15px;
  border-radius: $border-radius;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.renderer-selection-option:hover {
  background-color: $layer-2-color;
  transform: scale(1.1);
}

.display-none {
  display: none;
}

.dropdown-caret {
  width: 36px;
  background-color: inherit;
  transform: rotate(90deg);
  transition: $transition;
}

.render-select-display {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  padding: 2px 5px 2px 5px;
  transition: 0.1s ease-in-out;
}

#renderer-select:hover .render-select-display {
  transform: scale(1.1);
}

.renderer-name {
  background-color: inherit;
}

.selected-outer-circle {
  border-radius: 999999px;
  aspect-ratio: 1;
  padding: 5px;
  background-color: inherit;
  border: $border;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-inner-circle {
  background-color: inherit;
  width: 6.5px;
  aspect-ratio: 1;
  border-radius: 9999999px;
}

.renderer-selection-option[selected="true"] .selected-inner-circle {
  background-color: white;
}
